/* Style de la page*/
main {
  min-height: calc(100vh - 88px);
}
body {
  margin: 0;
  padding: 0;
  background-color: #faf3e0;
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
}

button {
  color: #faf3e0;
  background: #d93d04;
  padding: 12px;
  border-radius: 9px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #6e7f52;
}

/*Style du header*/
.header {
  background-color: #5a3e2b;
  color: #faf3e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Style du footer*/
.footer {
  background-color: #5a3e2b;
  color: #faf3e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-info {
  display: flex;
  flex-direction: row;
}

.nav-footer {
  display: flex;
  flex-direction: row;
}

/*Style de la page contact*/
.contact {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 25px 50px;
}

.contact-htmlForm {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-htmlForm label {
  font-weight: 600;
}

.contact-htmlForm input,
.contact-htmlForm textarea {
  padding: 12px;
  border-radius: 9px;
  border: 1px solid #2b2b2b;
  color: #faf3e0;
  width: 100%;
}

.section-contact {
  margin: 50px;
}

.form-contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.contact-info {
  grid-area: 1 / 1 / 2 / 2;
}

.contact-form {
  grid-area: 1 / 2 / 2 / 3;
}

.leaflet-container {
  height: 50vh;
  width: 300wh;
}

/*Style des cartes dans restaurants */
.card_container {
  margin: 0px auto 24px;
  padding: 0 32px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
.card {
  border: 3px solid #6e7f52;
  border-radius: 9px;
  text-align: center;
}

.card button {
  margin-bottom: 12px;
}

/*Style des horaires dans reservations*/
.calendrier {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.booking-calendar-hours {
  display: flex;
  flex-direction: column;
}

.booking-calendar-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}








/*  responsive design */

@media (max-width: 900px) {

    
}

@media (max-width: 600px) {

  
}
